html {
    scroll-behavior: smooth !important; /*da movimiento medio suave para abajo*/
}

section {
    scroll-margin-top: 70px; /*arriba*/
}

:root { /*estas -- la usamos para no andar repitiendo*/
    --color-primario: #00a8e8; 
    --color-fondo: #121212; 
    --color-amarillo: gold;
}

body {
    background-color: var(--color-fondo);
    font-family: 'Poppins', sans-serif;
}

#titulo_principal {
    background-image: url('img/p.jpg');
    background-size: cover;
    background-position: center;
    padding: 150px 20px;
    text-align: center;
}

#titulo_principal h1 {
    color: palegoldenrod; 
    font-size: 5rem;
    font-weight: 800;
    text-transform: uppercase; /*mayus*/
    text-shadow: 2px 2px 15px rgba(238, 5, 5, 0.7);
    margin: 0; /*elimina espacio en todos los lados*/
}

#descripcionp {
    background-color: var(--color-amarillo); 
    color: black;
    padding: 15px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    text-transform: uppercase;
}

.titulo-seccion {
    text-align: center;
    font-weight: 700;
    margin: 50px 0; /*50 arriba y abajo y 0 a los lados*/
    color: var(--color-amarillo); 
}

.cuadricula-productos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 3rem;
    padding: 2rem;
}

.tarjeta-producto {
    background-color: #fff;
    padding: 2rem;
    border-radius: 1rem;
    border: 2px solid var(--color-amarillo); 
    transition: 0.4s;
    text-align: center;
}

.tarjeta-producto:hover {
    transform: translateY(-10px);
    border-color: var(--color-primario);
    box-shadow: 0 10px 25px rgba(0, 168, 232, 0.4);
}

.contenedor-imagen {
    position: relative;
    overflow: hidden;
}

.contenedor-imagen img {
    width: 100%;
}

.etiqueta-descuento {
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--color-primario);
    color: white;
    padding: 2px 10px;
    border-radius: 5px;
    font-size: 0.9rem;
    z-index: 2;
}

.contenido-producto { 
    padding-top: 1rem; /*para que no quede pegado la info*/
}

.estrellas {
    color: #ffd700;
    margin-bottom: 10px; /*abajo*/
}

.contenido-producto h3 {
    font-size: 1.4rem; /*tamaño de las letras*/
    font-weight: 600; /*es un grosor semi bold*/
    margin-bottom: 15px; 
    color: rgb(0, 0, 0); 
}

.precio {
    font-size: 1.5rem;
    font-weight: 700;
    color: black; 
    margin-bottom: 0;
}

.precio span {
    font-size: 1rem;
    color: #bbb;
    text-decoration: line-through;
    margin-left: 10px; /*izquierda*/
}

.agregar-carrito {
    border: 2px solid var(--color-primario);
    padding: 10px;
    border-radius: 50%;
    color: var(--color-primario);
    transition: 0.3s;
    cursor: pointer; /*se muestra la mano en el icono*/
    display: inline-flex;
    margin-top: 15px;
}

.agregar-carrito:hover {
    background-color: var(--color-primario);
    color: #efefef;
}

.footer {
    background-color: black; 
    color: white;
    text-align: center;
    padding: 40px 20px;
    margin-top: 50px;
    border-top: 4px solid var(--color-amarillo);
}

.footer h3 {
    color: var(--color-amarillo);
    margin-bottom: 20px;
}

.footer p {
    margin: 5px 0;
    font-size: 1.2rem;
}

.footer a {
    color: var(--color-primario);
    text-decoration: none;
    font-weight: bold;
    transition: 0.3s;
    display: inline-block;
    margin-top: 15px;
}

.footer a:hover {
    color: var(--color-amarillo);
}